.container 
{
    text-align: center;
    margin-top: 23px;
}
table 
{
    margin: auto;
}
input 
{
    border: 3px solid black;
    border-radius:12px;
    font-size: 30px;
    width: 362px;
    height: 60px;

}
button 
{
    border-radius:12px;
    font-size: 30px;
    background-color: mediumspringgreen;
    height: 50px;
    width: 90px;
    margin: 3px;
}
.calculator 
{
    display: inline-block;
    border: 4px black;
    padding: 12px;
    border-radius:18px;
    background-color: pink;
}